.container{
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}

.form {
  width: 400px;
  border: solid 2px;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin:20px;
}

.text-input {
  padding: 8px;
  margin: 4px;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  border-radius: 5px;
}

.submit-button {
  width: max-content;
  background-color: black;
  color: #f2f2f2;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  padding: 8px;
  margin-top: 10px;
}
